.side-drawer {
    height: 100%;
    background-color: #fff;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    max-width: 300px;
    z-index: 1202;
    transform: translateX(-100%);
    transition: transform 0.4s ease-out;
}

.side-drawer.open {
    transform: translateX(0);
}

.side-drawer ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding-top: 30px;
    padding-left: 0;
    /* justify-content: center; */
}


.side-drawer li {
    margin: 0.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-drawer a {
    font-size: 1.1rem;
    color: #7086A4;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
    margin-left: 1rem;
}

.sidedrawer-icon {
    font-size: 27px;
}

.giscrew-phone {
    font-size: 24px;
    margin-left: -13px;
}

.icon-cont {
    width: 40px;
}

/* .side-drawer a:hover,
.side-drawer a:active {
    color: #fa923f;
} */

@media (min-width: 769px) {
    .side-drawer {
        display: none;
    }
}