.product {
    border: 1px solid #F4F4F4;
    text-align: center;
    padding-bottom: 20px;
    min-height: 260px;
}

.product-col {
    padding: 15px;
}

.product-name {
    font-weight: bold;
}

.name-cont {
    padding: 0 5px;
}