footer {
    height: 140px;
    background-color: #1C252D;
    color: #EFF2F6;
}

.footer-cont {
    padding: 0 1rem !important;
}

.list-cont {
    margin-top: 20px;
    display: inline-block;
}

figcaption {
    font-size: 1.5rem;
}

.footer-list {
    list-style-type: none;
    padding: 0;
}

.info-li {
    display: flex;
    align-items: center;
}

.info-li a {
    color: #EFF2F6;
}

.info-li a:hover {
    color: #EFF2F6;
}

.footer-info {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.footer-info-large {
    display: none;
}

.social-icons-list {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.social-icons-list li {
    margin-right: 10px;
}

.social-icon {
    font-size: 1.25rem;
}

.copyright {
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 20px;
}

@media (min-width: 1280px) {
    .footer-cont {
        max-width: 1280px !important;
    }
}

@media (min-width: 600px) {
    .footer-cont {
        padding-left: 24px !important;
        padding-right: 24px !important;
    }
}


@media (max-width: 1279px) {
    .footer-cont {
        max-width: 100% !important;
    }
}


@media (max-width: 767px) {
    footer {
        height: 180px;
    }

    figcaption {
        font-size: 1rem;
    }

    .info-li {
        font-size: 13px;
    }

    .social-icons-list li {
        font-size: 13px;
    }

    .social-icon {
        font-size: 15px;
    }

    .footer-info {
        margin-top: 0;
        display: none;
    }

    .footer-info-large {
        display: flex;
    }

    .copyright {
        position: static;
        margin: 0 auto;
        font-size: 14px;
    }

    .list-cont {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
}