@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font: normal 16px "Roboto", sans-serif !important;

}

h1 {
    font-family: 'Montserrat', sans-serif !important;
}

.layout {
    min-height: 100vh;
    position: relative;
}

/* 
NavBar: 70px, Footer: 80px
Padding-top in 70px' i Navbar ' ı fixlediğimiz için aşağı kayması için verildi.
Diğer 20 px ise diğer her sayfa için default top 20 px olması için
*/
.mainContainer {
    min-height: calc(100vh - 80px);
    padding-top: 90px;
    width: 100%;

}