@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font: normal 16px "Roboto", sans-serif !important;

}

h1 {
    font-family: 'Montserrat', sans-serif !important;
}

.layout {
    min-height: 100vh;
    width: 100%;
    position: relative;
}

/* 
NavBar: 80px, Footer: 120px
Padding-top in 80px' i Navbar ' ı fixlediğimiz için aşağı kayması için verildi.
Diğer 20 px ise diğer her sayfa için default top 20 px olması için
*/
.mainContainer {
    /* 100vh - footer height*/
    min-height: calc(100vh - 140px);
    /* 80 + 20 (diğer sayfaların default 20px i)*/
    padding-top: 100px;
    width: 100%;

}


@media (max-width: 767px) {
    .mainContainer {
        /* 100vh - footer height*/
        min-height: calc(100vh - 180px);


    }

}